.menu-item {
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.menu-item.active {
  background-color: #f0f0f0;
  color: #684498;
}
.textIcon {
  color: #707070;
}
.text {
  margin-left: 8px;
  color: #707070;
}
.menu-item.active .text,
.menu-item.active .textIcon {
  color: #684498 !important;
}
